ul{
  list-style-type: none;
}
.salary-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
}
.salary-label {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
}
.radio-container {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
input,
label {
  cursor: pointer;
}

@media (max-width: 768px) {
  .salary-heading {
    font-size: 18px;
  }
  .salary-label {
    font-size: 13px;
    align-self: center;
  }
  .radio {
    height: 15px;
    width: 15px;
  }
}
