body {
  margin: 0px;
}
.job-bg-container {
  height: 100vh;
}
.job-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
  position: relative;
}
.job-right-section {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100vw;
}
.job-left-section {
  width: 100vw;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: sticky;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
hr {
  width: 100%;
}
.search-sm-container {
  background-color: transparent;
  border: #64748b 1px solid;
  height: 35px;
  width: 95%;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}
.search-lg-container {
  display: none;
}
.search-sm-input {
  background-color: transparent;
  height: 35px;
  width: 92%;
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto;
}
.search-sm-icon {
  background-color: #2c364c;
  height: 35px;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
.search-button {
  background-color: #2c364c;
  border: none;
  height: 35px;
}

.clear-sm-button {
  background-color: #8b0000;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 25px 20px;
  display: block;
  cursor: pointer;
  align-self: flex-end;
}
.clear-lg-button {
  display: none;
}
@media (min-width: 768px) {
  .job-container {
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    padding: 10px;
  }
  .job-left-section {
    height: 88vh;
    width: 30vw;
    padding-bottom: 20px;
    overflow: auto;
  }
  .job-right-section {
    height: 88vh;
    width: 70vw;
  }
  .search-lg-container {
    background-color: transparent;
    border: #64748b 1px solid;
    height: 35px;
    width: 400px;
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  .search-lg-input {
    background-color: transparent;
    height: 35px;
    width: 375px;
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto;
  }
  .search-lg-icon {
    background-color: #2c364c;
    height: 20px;
    width: 25px;
    cursor: pointer;
  }
  .search-sm-container {
    display: none;
  }
  .clear-lg-button {
    background-color: #ff0b37;
    color: #fbbf24;
    padding: 10px 15px;
    margin: 15px 0px;
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .clear-sm-button {
    display: none;
  }
}
@media (max-width: 768px) {
  .job-container {
    overflow: auto;
  }
}
